/*Media Queries*/
@media only screen and (max-width: 550px){
    #quizGame h3{
        font-size: 2rem;
    }
    #answer0, #answer1, #answer2, #answer3{
        float:left;
        font-size: 1.1rem!important;
    }
    #answer0, #answer1{
        margin-left: 4%;
    }
}

@media only screen and (max-width: 990px){
    #answer0, #answer1, #answer2, #answer3{
        width: 45%;
        height: 10%;
        font-size: larger;
    }
}
@media only screen and (max-width: 1400px){
    #answer0, #answer1, #answer2, #answer3{
        width: 45%;
        height: 10%;
        font-size: x-large;
    }
}
@media only screen and (min-width: 1401px){
    #answer0, #answer1, #answer2, #answer3{
        float: left;
        width: 50%;
        height: 10%;
        font-size: 2rem;
    }
    #quizGame h3{
        font-size: 3rem;
    }
}

#quiz h3{
    color:black;
}



/*Quiz Buttons*/
#answer0, #answer1, #answer2, #answer3{
    background: blue;
    color: white;

}