/*Media Queries*/
@media only screen and (max-width: 200px){
    #answer1, #answer2, #answer3, #answer4{
        width: 20%;
        height: 2%;
    }
}
@media only screen and (max-width: 400px){
    #answer1, #answer2, #answer3, #answer4{
        width: 40%;
        height: 4%;
        font-size: 1rem;
    }
}
@media only screen and (max-width: 990px){
    #answer1, #answer2, #answer3, #answer4{
        width: 45%;
        height: 10%;
    }
}
@media only screen and (max-width: 1400px){
    #answer1, #answer2, #answer3, #answer4{
        width: 45%;
        height: 10%;
    }
}
@media only screen and (min-width: 1401px){
    #answer1, #answer2, #answer3, #answer4{
        float: left;
        width: 50%;
        height: 10%;
    }
}

#quiz h3{
    color:black;
}



/*Quiz Buttons*/
#answer1, #answer2, #answer3, #answer4{
    background: blue;
    color: white;

}